<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title i18n="firefox.title">News Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../../font-family.css" />
</head>

<body class="bg-gray-900 text-gray-200  min-h-screen">

  <main class="max-w-7xl mx-auto p-6 grid grid-cols-12 gap-6">
    <section id="portada" class="col-span-12 lg:col-span-8 space-y-6" aria-live="polite">
      <div class="bg-gray-800 rounded-lg p-6 animate-pulse" data-i18n="firefox.load">Loading...</div>
    </section>

    <aside class="col-span-12 lg:col-span-4 space-y-6 sticky top-4 h-fit">
      <div id="aside-meteo" class="bg-gray-800 rounded-lg p-4 shadow-md">
        <div class="animate-pulse" data-i18n="firefox.load">Loading...</div>
      </div>

      <div id="aside-historias" class="bg-gray-800 rounded-lg p-4 shadow-md max-h-[500px] overflow-y-auto">
        <div class="animate-pulse" data-i18n="firefox.load">Loading...</div>
      </div>

      <div id="aside-ads" class="space-y-4"></div>
    </aside>
  </main>
  <script type="module" src="./firefox.js"></script>
  <audio id="clickSound" src="../../assets/audio/click-234708.mp3" preload="auto"></audio>
  <script src="../../scripts/audio.js"></script>
  <script src="../../scripts/i18n.js"></script>

</body>

</html>